PORT=8000
BASE_URL = http://localhost:8000
FRONTEND_URL = http://localhost:3000

#database
MONGO_URI=mongodb://<MONGO_ROOT_USERNAME>:<MONGO_ROOT_PASSWORD>@localhost:<MONGO_HOST_PORT>/<MONGO_DATABASE_NAME>?authSource=admin
MONGO_HOST_PORT=**********
MONGO_ROOT_USERNAME=**********
MONGO_ROOT_PASSWORD=**********
MONGO_DATABASE_NAME=********** 